body{
    margin-top: 4rem;
    
}
.main{
    position: relative;
}

.animation{
    position: absolute;
    z-index: 999;
    pointer-events: none
}

.header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3;
}



/*MAIN NAVBAR*/
.nav{
    width: 100%;
    background-color: var(--white-color);
}

.nav__navbar-right{
    margin-left: 1.2%;
}

.nav__navbar-image img{
   margin-right: 0.5rem;
   width: 40px;
}

.nav__navbar-to-homepage{
    text-decoration: none;
    color: #000;
}

.nav__navbar-webname {
    font-weight: var(--weight-700);
    font-size: 1.9rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.nav__navbar-center{

}

.nav__navbar-whatis{
    font-weight: 900;
    font-size: 2.1rem;
}

.nav__navbar-left{
    /* display: flex; */
    margin-right: 1.2%;
}

.nav__navbar-icons{
    font-size: 2.5rem;
    padding: 0 1.5rem;
    border-right: 0.15rem solid rgba(33,33,33,0.3);
    display: inline-flex;
    margin: auto;
    list-style-type: none;
    
}

.nav__navbar-icon{
    color: var(--icon-color);
    margin-left: 1.5rem;
    cursor: pointer;
}

.nav__navbar-icon--notify{
    margin-right: .5rem;
}

.nav__navbar-icon--notify::after{
    content: "";
    border-width: .5rem .5rem;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--brown-mix-yellow) var(--brown-mix-yellow) var(--brown-mix-yellow) var(--brown-mix-yellow);
    position: absolute;
}

/* .nav__navbar-unseen-msg{
    position: absolute;
    min-width: 13px;
    min-height: 10px;
    color: var(--white-color);
    text-shadow: 0 0 1px black;
    font-size: 1.4rem;
    line-height: .7rem;
    padding: 0.3rem;
    background-color: var(--purple-color);
    border-radius: 50%;
} */

.navmenu--hover{
    position: relative;
}
/* .navmenu--hover:hover .navmenu{
    display: block;  
} */

/*USER MENU*/

.user-menu-included{
    position: relative;
    cursor: pointer;
}

/* .nav__navbar-user-with-func:hover .navbar__user-function-lists{
    display: block;
} */
.nav__navbar-user{
    display: inline-flex;
    padding-left: 1.5rem;
    /* margin: auto; */
    
}

.navbar__user-image{
    margin: auto;
}

.navbar__user-info{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.navbar__user-above{
    font-size: 1.7rem;
    font-weight: var(--weight-900);
}

.navbar__user-below{
    color: var(--purple-color);
    font-size: 1.3rem;
}

.nav__navbar-user--logged{
    display: none;
}

.usermenu{
    position: absolute;
    background-color: var(--white-color);
    list-style-type: none;
    width: 250px;
    /* right: 0.2vw; */
    top: 3rem;

    background-color: var(--white-color);
    border-radius: .6rem;
    box-shadow: #333 0px 0px 5px;
    margin-top: 1rem;
    position: absolute;
    right: 0;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in .125s;
    z-index: 5;
}

.usermenu::after{
    content:"";
    display: block;
    position: absolute;
    width: 12rem;
    height: 1.8rem;
    background-color: transparent;
    bottom: 100%;
    right: 0;
}

/* .user-menu-included:hover .usermenu{
    display: block;
} */

.usermenu-function-lists{
    padding: .7rem;
}

.usermenu-function-list{
    display: flex;
}

.usermenu-function-list + .usermenu-function-list{
    margin-top: .5rem;
}
.usermenu-function-img{
    width: 20%;
    display: inline-flex;
    justify-content: center;
}

.usermenu-function-img i{
    font-size: 1.8rem;
    padding: .5rem;
}

.usermenu-function-name{
    width: 80%;
    font-size: 1.6rem;
}

.usermenu-function-name a{
    text-decoration: none;
    padding: 1rem;
    display: block;
}

/*NAVMENU*/
.navmenu{
    width: 41rem;
    background-color: var(--white-color);
    border-radius: .6rem;
    box-shadow: #333 0px 0px 5px;
    margin-top: 1.5rem;
    position: absolute;
    right: 0;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in .12s;
    z-index: 5;
    max-height: 81vh;
    overflow: auto;
}

.navmenu.navmenu--setting{
    color: var(--text-color) !important;
}

.navmenu::after{
    content:"";
    display: block;
    position: absolute;
    width: 12rem;
    height: 1.8rem;
    background-color: transparent;
    bottom: 100%;
    right: 0;
}

.navmenu_wrap{
    padding: 1.5rem;
}
.navmenu-header{
    color: var(--super-deep-purple-color);
    font-size: 2.4rem;
    font-weight: var(--weight-900);
    padding-bottom: 2rem;
    padding-top: .5rem;
}

.navmenu-list{
    margin: auto .5rem;
    border-radius: .6rem;
    margin-bottom: .2rem;
    list-style-type: none;
    cursor: pointer;
    transition: background-color .2s;
}

.navmenu-list:hover{
    background-color: aliceblue;
    
}

/* .navmenu-list:hover{
   background-color: #f1f1f1;
} */

.navmenu-list__image{
    width: 30%;
    margin: auto;
    padding: .5rem;
}

.image-size-m{
    width: 15%;
    margin: auto;
    padding: .5rem;
}

.navmenu-list__image img{
    width: 100%;
    border-radius: 50%;
}


.navmenu-list__image i{
    width: 100%;
}

.navmenu-list__body{
    width: 90%;
    margin: auto;
    padding: 1rem;
}



.navmenu-list_body-title{
    color: var(--super-deep-pink-color);
    font-size: 1.8rem;
    font-weight: var(--weight-500);
    margin-bottom: .7rem;
    line-height: 1.2;
}

.navmenu-list_body-content{
    font-size: 1.3rem;
}

.navmenu-list_body-title--setting{
    color: var(--text-color);
}
.navmenu-list_body-content--setting{
    color: var(--text-color);
}

.navmenu-list_body-timepass{
    font-size: 1rem;
}

.navmenu-footer{
    padding-top: 1rem;
    justify-content: center;
    font-size: 2rem;
}
.navmenu-footer__view-all{
    text-decoration: none;
}

.navmenu-list--important-100{
    border: 2px solid red;
}

.navmenu-list--important-100 .navmenu-list_body-title{
    color: darkred;
}

.container{
}

.container-padding{
    display: flex;
    padding: 1.2rem 2rem;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #F2F4FF;
}
/*SIDE BAR*/
.sidebar-area{
    flex: 2;
}

.sidebar-area__open{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sidebar__open-button{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 0.05rem var(--icon-color);
    border: none;
    font-size: 2.5rem;
    margin-right: 1rem;
    border-radius: .2rem;
    color: var(--icon-color); 
    padding: 0rem .6rem;
    cursor: pointer;

}

.sidebar__open-icon{
   position: relative;
   top: 1px;
}

.sidebar__open-name{
    font-size: 1.35rem;
    color: var(--blur-text-color);
}

.sidebar-area__lists{
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px .6rem rgba(0, 0, 0, 0.2);
    left: -40px;
    border-radius: 7px;
    list-style-type: none;
    min-width: 90%;
    overflow: hidden;
    display: none;
    z-index: 1;
    min-height: 25rem;
}

.sidebar-area__lists-padding{
    padding: 2rem 1.5rem;
}

.sidebar-area__list-item{
    margin-bottom: 1.8rem;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    min-width: 90%;
}


/*FILL CIRCLE WHEN HOVER*/
.sidebar-area__list-item .sidebar-area__list-item-circle-icon::after{ 
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, var(--purple-color), var(--purple-mix-blue-color));
    z-index: 1;
    transition: all .25s ease;
}

.sidebar-area__list-item:hover:not(.sidebar-area__list-item--checked):not(.sidebar-area__list-item--updating) .sidebar-area__list-item-circle-icon::after{ 
    height: 100%;
}

.sidebar-area__list-item:hover:not(.sidebar-area__list-item--checked):not(.sidebar-area__list-item--updating) .sidebar-area__list-item-icon{
    color: white;
}

/*END OF FILL CIRCLE WHEN HOVER*/

.sidebar-area__list-item:last-child{
    margin-bottom: 0;
}

.sidebar-area__list-item-link-to{
    display: flex;
    align-items: center;  
    text-decoration: none;
    
}

/*CHECKED*/
.sidebar-area__list-item--checked .sidebar-area__list-item-link-to{
    background-image: linear-gradient(to bottom right, var(--purple-color), var(--purple-mix-blue-color));
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    padding: 0 .5rem;
    
}

.sidebar-area__list-item.sidebar-area__list-item--checked::before{
    content: "";
    top: 50%;
    left: 12px;
    position: absolute;
    border: 5px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--white-color);
    border-radius: 10px;
}

.sidebar-area__list-item--checked .sidebar-area__list-item-circle-icon{
    background-color: transparent;
}

.sidebar-area__list-item--checked .sidebar-area__list-item-icon{
    font-size: 2.2rem;
    color: #fff;
    margin-left: 10px;
}

.sidebar-area__list-item--checked .sidebar-area__list-item-name{
    font-size: 1.5rem;
    color: #fff;
    margin-left: 13px;
}
/*UPDATING*/
.sidebar-area__list-item--updating .sidebar-area__list-item-link-to{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    padding: 0 .5rem;
    opacity: 0.6;
    cursor: default;
    
}

.sidebar-area__list-item--updating .sidebar-area__list-item-circle-icon{
    background-color: transparent;
}


.sidebar-area__list-item--updating .sidebar-area__list-item-name{
    font-size: 1.5rem;
    color: #666;
    margin-left: 13px;
}
/*END OF UPDATING*/

.sidebar-area__list-item-circle-icon{
    position: relative;
    background-color: #EAE4FC;
    border-radius: 50%;
    min-height: 40px;
    min-width: 40px;
    z-index: 5;
    overflow: hidden;
}

.sidebar-area__list-item--checked .sidebar-area__list-item-circle-icon {
    overflow:inherit;
}



.sidebar-area__list-item-icon{
    position: absolute;
    font-size: 1.9rem;
    color: var(--icon-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: all ease .1s;
}

.sidebar-area__list-item-name{
    width: 75%;
    /* line-height: 5rem; */
    font-size: 1.5rem;
    margin-left: 8px;
    color: #551A8B;
}




/*MAIN AREA*/
.main-area{
    flex: 10;
}

.main-area__function-name-left{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.main-area__function-name-right{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: var(--blur-text-color);
}

.main-area__function{
    min-height: 300px;
    max-height: 800px;
}

.main-area__function-1-1{
   width: 50%;
}
.main-area__function-1-2{
    width: 50%;
    margin: auto;
    margin-left: 2rem;
}

.main-area__function-1-0{
    width: 100%;
}

.main-area__news-function{
    
    position: relative;
}
.main-area__news-function img{
    width: 100%;
    animation: fadeIn .5s;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .5s; /* don't forget to set a duration! */
  }

.main-area__news-function-slider{
    position: relative;   
}

.main-area__news-function-slider-link{
     display: block;
     /* z-index: 999; */
 
}

.main-area__news-function-slider-button-place{
    position: absolute;
    bottom: -2%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.main-area__news-function-slider-button{
    background-color: #2D3C4E;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 2px #666;
    margin: 0 .5rem;
    cursor: pointer;
    opacity: .3;
}

.main-area__news-function-slider-button--active{
    background-color: #fff;
}

.main-area__news-function-slider-button-place-go-to{
    position: absolute;
    bottom: 50%;
    width: 100%;
    justify-content: space-between;
    transform: translateY(20%);
    opacity: .4;
}

.main-area__news-function-slider-button-go{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #666;
    /* outline: 1px solid #333; */
    font-weight: 500;
    animation: fadeIn 5s;
    cursor: pointer;

}

.main-area__news-function-slider-button-go--prev{
    margin-left: 1rem;
}

.main-area__news-function-slider-button-go--next{
    margin-right: 1rem;
}


.main-area__news-function-slider > div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-area__total-functions{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 140px 140px;
    column-gap: 20px;
    row-gap: 20px;
}

.main-area__total-function{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1px #fff;
}

.main-area__total-function-sticker{
    position: absolute;
    bottom: -7px;
    left: 5px;
}

.main-area__total-function-sticker img{
    max-width: 75%;
    /* box-shadow: 0 0 2px; */
}

.main-area__total-function-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: right;
    color: #fff;
    text-shadow: 0 0 2px #333;
}

.main-area__total-function-what{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 1.8rem;
    
}

.main-area__total-function-point{
    font-weight: 800;
    font-size: 3rem;
}

/*SORTING COURSE*/
.sorting-course{
    margin-right: 1.5rem;
}
.sorting-course__desc{
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1rem;
}

.sorting-course__option-select {
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 50px;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    color: var(--icon-color);
    cursor: pointer;
}

.sorting-course__option-select-item {
    border-radius: 5rem;
    padding: 0.5rem 1rem;
}

/*END OF SORTING COURSE*/

/*SEACH COURSE*/
.search-course{
    padding: 1rem 0;
}
.search-course__icon{
    font-size: 2.5rem;
    margin-right: 1rem;
}

.search-course__input{
    padding: .5rem 3.5rem .5rem 1rem;
    border-radius: 50px;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
}
/*END OF SEACH COURSE*/

/*Course table*/ 
.main-area__course-table{
    background-color: #fff;
    max-height: 28rem;
    overflow: auto;
    overflow-x: hidden;
}
.main-area__course-table-padding{
    display: flex;
    flex-direction: column;
    padding: 1.3rem 1rem;
}

.main-area__course-table-row:first-child{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--icon-color);
}


.main-area__course-table-row{
    font-size: 1.6rem;
    align-items: center;
    padding: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #dadada;
    transition: transform .4s;
}

.main-area__course-table-row:not(.main-area__course-table-row--about-what):hover{
    transform: translateY(-2px) scale(1.019);
    border-top: 2px solid #FF724F;
    border-bottom: 2px solid #FF724F;

}

.main-area__course-table-row.main-area__course-table-row--success{
    /* color: #6AB64C; */
}

.main-area__course-table-row.main-area__course-table-row--fail{
    color: red;
}

.main-area__course-table-row-col-1{
    flex: 3;
    align-items: center;
}
.main-area__course-table-row-col-1-img img{
    margin-right: 5px;
    box-shadow: 0 0 1px #333;
}

.main-area__course-table-row-col-2{
    flex: 2;
}
.main-area__course-table-row-col-3{
    flex: 2;
    
}
.main-area__course-table-row-col-4{
    flex: 2;
    /* color: rgb(54, 164, 228); */
}
.main-area__course-table-row-col-5{
    flex: 2;
    /* color: rgb(36, 184, 14); */
}
.main-area__course-table-row-col-6{
    flex: 1;
}
.main-area__course-table-result{
    margin: 1.5rem 0;
    font-size: 1.5rem;
    align-items: start;
}

.main-area__course-table-result-list{
    display: inline-block;
    list-style-type: none;
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: .15rem;
    margin-left: 2rem;
    /* line-height: 2.5rem; */
    padding: 0;
}

.student-label{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: #000;
}

/*TOP student TABLE*/
.main-area__top-student-table{
    background-image: linear-gradient(to right, rgb(236, 122, 217,.9), rgb(147, 85, 250, .7));
    /* filter: contrast(70%); */
    border-radius: 3px;
    margin-top: 1rem;
    min-height: 22rem;
}
.main-area__top-student-table-padding{
    padding: 2rem 2.5rem 1.2rem;
    
}

.main-area__top-student-table-row{
    margin-bottom: 10px;
    
}

.main-area__top-student-table-col-1{
    flex: 1;
}
.main-area__top-student-table-col-2{
    flex: 3;
    color: #fff;
    text-shadow: 0 0 3px #000;
    margin-left: 10px;
}
.main-area__top-student-table-col-3{
    flex: 4;
    text-align: left;
    font-size: 1.7rem;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-weight: 600;
}
.main-area__top-student-table-col-1 img{
    width: 50px;
    height: 50px;
}

.main-area__top-student-table-col-2-name{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 7px;
}

.main-area__top-student-table-col-2-email{
    font-size: 1.2rem;
}

.main-area__top-student-table-more{
    text-align: right;
    margin-bottom: 1rem;
}

.main-area__top-student-table-more a{
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px #000;
    font-size: 1.5rem;
    font-weight: 600;
}



/*LABEL OWN TABLE*/
.main-area__function-1-2--3{
    margin-top: 10px;
}
.main-area__label-own-table{
    background-color: #fff;
    box-shadow: 0 0 1px rgb(239, 177, 24, .8);
    min-height: 22.4rem;
}
.main-area__label-own-table-padding{
    padding: 0.3rem 1rem;
}

.main-area__label-own-table-half{
    width: 50%;
}

.main-area__lable-own-table-row{
    border-bottom: 1px solid #dadada;
}
.main-area__lable-own-table-col-1{
    flex: 1;
}

.main-area__lable-own-table-col-2{
    flex: 3;
}

.main-area__lable-own-table-col-3{
    flex: 1;
}
.main-area__lable-own-table-col-1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-area__lable-own-table-col-2{
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 5px;
}

.main-area__lable-own-table-col-3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #6a0af0;
}

.main-area__label-own-table-half:first-child{
    margin-right: 1.5rem; 
}



/*FOOTER*/
.footer{
    margin-top: 2.5rem;
}
.footer-3-col{
    margin-left: 8%;
    margin-right: 8%;
}

.footer-3-col__col--1{
    flex: 4;
}
.footer-3-col__col--2{
    flex: 4;
}
.footer-3-col__col--3{
    flex: 4;
}

.footer-3-col__col-row-heading{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #686868;
    margin-bottom: 2rem;
}

.footer-3-col__col-row{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.footer-1-col{
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.footer-1-col__logo{
    display: contents;
}

.footer-1-col__content{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.contact-text{
    color: #e5941b;
    font-weight: 500;
    text-decoration: none;
}


/*JAVASCRIPT CSS*/
.open{
    display: block;
}

.open-flex{
    display: flex;
}

.close{
    display: none;
}

.outlineX3{
    animation: outlineX3 0.5s 3;
}

.go-to-top{
    background-color: #9254F9;
    height: 40px;
    width: 40px;
    bottom: 2vh;
    right: 1vw;
    position: fixed;
    /* text-align: center; */
    border-radius: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: all .4s;
    z-index: 5;
}

.go-to-top-icon{
    font-size: 1.8rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: #fff;
}


.show{
    opacity: 1;
}





/*SEACH in website - AUTO COMPLETE*/
/* .fa-magnifying-glass{
    position: relative;
} */

#search-input{
    font-size: 1.5rem;
    max-width: 15rem;
    border-radius: 20px;
    border: 1px solid #333;
    padding: .5rem 1.5rem;
    text-align: center;
    /* display: none; */
}

#search-suggest-lists{
    width: 100%;
    position: absolute;
    background-color: white;
    margin-top: 3.7rem;
    list-style-type: disc;
    direction: rtl;
    text-align: right;
    box-shadow: #333 0px 0px 4px;
    border-radius: 0.6rem;
    /* display: none; */
}

.search-suggest-list{
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-right: 3rem;
    font-weight: 500;
    color: #f115a4;
}



.search-suggest-list a{
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    color: #360991;
}

.search-suggest-list a:first-child{
    padding-top: .5rem;
}

.colorX3{
    animation: colorX3 1s 3;
}